$grey-text: #a0a0a0;
$black: #000000;
$black-AH: #3b3b3b;
$white: #F7F7F9;

::ng-deep .tooltip-inner {
    background-color: $white;
    color: $black;
}

::ng-deep .tooltip-arrow {
    fill: $white;
    background-color: $white;
    color: $white;
}

.bottom-65 {
    bottom: 65px !important;
}

.bottom-115 {
    bottom: 115px !important;
}

.w-500 {
    max-width: 500px;
}

.white-color {
    color: $white;
}

.header-mobile {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.logo-image {
    width: 162px;
    height: 40px;
}

.nav-link {
    color: $white;
    cursor: pointer;

    &:hover {
        color: $grey-text;
    }
}

.navigation--glow {
    height: 200px;
    background-color: #F7F7F9;
    border-radius: 100%;
    filter: blur(50px);
    opacity: 0.6;
    width: 50%;
    position: absolute;
    left: calc(25% );
    top: -210px;
}

.navigation--hamburger {
    display: none;
    width: fit-content;
    height: fit-content;
    padding: 7px;
}

.ah-modal-button {
    white-space: nowrap;
    max-width: 140px;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}

.home--wrapper {
    height: 100%;
    background-image: linear-gradient($black-AH, $black 60%);
    padding-top: 72px;
}

.home--text {
    letter-spacing: 1px;
    padding-top: 1rem;
    color: $grey-text;
}

.main-btn {
    width: 150px;
    height: 45px;

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: #212529;
        }
    }

    &:hover > a {
        color: #212529;
    }
}

.btn {
    border-radius: 5px;
}

.home--image {
    width: 60%;
    position: relative;
    left: 30px;
}

.heading {
    font-weight: 300;
    line-height: 1.2;
}

.about--wrapper {
    background: linear-gradient(rgb(30 30 30), rgb(67 67 67 / 25%));
}

.about--text {
    color: $grey-text;
}

.about--content {
    padding-bottom: 1.5rem;
}

.about--container_text {
    margin-bottom: 0;
}

.about--container_small-text {
    color: $grey-text;
    font-size: 14px;
    margin-bottom: 0;
}

.about--container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about--video {
    position: absolute;
    width: inherit;
    top: 75px;
}

.about--video_glow {
    width: 130%;
    height: 125%;
    position: absolute;
    left: -20%;
    top: -14%;
    background: linear-gradient(180deg,rgba(0,0,0,1) 10%,rgba(11,11,15,0) 45%,rgba(0,0,0,0) 55%,rgba(0,0,0,1) 90%);
    z-index: 1;
}

.about--video_container {
    min-height: 400px;
}

.MPV-laptop-image {
    max-height: 250px;
}

.goal {
    &--wrapper {
        width: 700px;
    }

    &--text {
       color: $grey-text; 
    }

    &--progress {
        background: linear-gradient(#1e1e1e, rgba(67, 67, 67, 0.25));
        border-radius: 10px;
        margin: 0 1rem;
        position: relative;

        &-bar {
            width: 15%;
            height: 26px;
            background: linear-gradient(82.08deg, #cccccc 4.65%, #fea722 44.89%, #ff2d2d 94.49%);
            border-radius: 10px;
            backdrop-filter: blur(14px);
            z-index: 1;
        }

        &-goal {
            border-left: 1px solid white;
            height: 36px;
            position: absolute;
            top: -5px;
            right: 11%;
        }
    }
}

.presale {
    padding: 3rem;
    
    &--wrapper {
        background: linear-gradient(rgb(30 30 30), rgb(67 67 67 / 25%));
        width: 700px;
    
        &_text {
            text-align: center;
    
            p {
                color: $grey-text;
            }
    
            a {
                color: $grey-text;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}

.wallet {
    padding: 3rem;

    &--wrapper {
        background: linear-gradient(rgb(30 30 30), rgb(67 67 67 / 25%));
        width: 700px;
    
        &_text {
            text-align: center;
    
            p {
                color: $grey-text;
            }
    
            a {
                color: $grey-text;
                font-size: 14px;
                cursor: pointer;
            }
        }
    
        &_account {
            display: flex;
            justify-content: space-around;
        }
    }

    &--table {
        width: 600px;

        &_head {
            color: $white;
        }

        &_text {
            color: $grey-text;
        }
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.presale--form {
    max-width: 550px;
    margin: 0 auto;

    &_input {
        border-radius: 5px;
        background-color: #111111;
        width: 100%;
        padding: 0.375rem 0.75rem;
        color: $white;
        border: 1px solid $white;
    }

    &_logo {
        border: 1px solid $white;
        border-radius: 5px;
        margin: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        min-width: 90px;

        &-image {
            padding-right: 4px;
        }
    }

    &_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $black-AH;
        }
    }

    &_label {
        font-size: 10px;
        color: $grey-text;
        margin-bottom: 0;
    }

    &_loading {
        position: absolute;
        z-index: 99999;
        right: 50px;
        bottom: -11px;
    }
}

.news--content {
    background-color: $black-AH;
}

.news--content_date {
    font-size: 0.9rem;
    color: $grey-text;
}

.iframe {
    width: 100%;
    height: 100%;
}

.waitlist {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
}

.waitlist--container {
    position: relative;
    top: calc(50% - 61px);
    left: calc(50% - 250px);
    width: 500px;
    height: 200px;
    background-color: $black-AH;
    justify-content: center;
}

.waitlist--container > .p-3 > .main-btn {
    width: 320px;

    &:hover {
        background-color: $white;
    }
}

.waitlist--wrapper {
    background: linear-gradient(rgb(30 30 30), rgb(67 67 67 / 25%));
}

.waitlist--input {
    background-color: $black-AH;
    width: 320px;
    border-left: 0 solid $black;
    border-top: 0 solid $black;
    border-right: 0 solid $black;
    border-bottom: 1px solid #a0a0a0;
    padding-left: 1rem;
    color: $white;
    height: 45px;

    &:focus-visible {
        border-radius: 0;
    }
}

.roadmap {
    &-quarter {
        width: 35px;
        height: 35px;
        background-color: #3b3b3b;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &-horizontal {
        height: 20px;
        border-radius: 20px;
    }

    &-date {
        position: absolute;
        top: 22px;
    }

    &-1 {
        background-color: #d0d0d0;
    }

    &-2 {
        background-color: #828282;
    }

    &-3 {
        background-color: #3b3b3b;
    }

    &-y2 {
        position: absolute;
        width: 100%;
        left: 0;
    }

    &-plan {
        position: relative;
        top: -50px;
        width: max-content;
        margin-bottom: 1rem;

        &_heading {
            font-size: 13px;
            font-weight: 600;
        }
    
        &_text {
            font-size: 12px;
            margin-bottom: 0;
            color: $grey-text;
        }
    }

    &-line {
        height: 50px;
        position: relative;
        top: -50px;
        border-left: 1px solid $white;
        order: -1;
    }

    &-v {
        display: none;
    }

    &-vertical {
        width: 20px;
        border-radius: 20px;

        &-line {
            width: 50px;
            border-top: 1px solid $white;
            position: relative;
            top: 17.5px;
        }

        &-plan {
            position: relative;
            top: 8px;
        }

        &-container {
            position: relative;
            left: 53px;
        }

        &-1 {
            height: 150px;
            background-color: #d0d0d0;
        }
    
        &-2 {
            height: 350px;
            background-color: #828282;
        }
    
        &-3 {
            height: 150px;
            background-color: #3b3b3b;
        }
    }
}

.q-position {
    position: absolute;
    top: -40px;
}

.q2 {
    left: calc(33% - 17px);
}

.q3 {
    left: calc(66% - 17px);
}

.q4 {
    right: 0;
}

.team--wrapper {
    padding: 1rem 1rem;
    background: linear-gradient(#1e1e1e, rgba(67, 67, 67, 0.25));
}

.team--image {
    width: 100%;
    filter: grayscale(30%);
}

.team--text {
    font-size: 0.9rem;
    margin-bottom: 0;
    color: #a0a0a0;
    margin-top: 1rem;
}

.ah-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);

    &--container {
        position: relative;
        top: calc(50% - 61px);
        left: calc(50% - 250px);
        width: 500px;
        height: 230px;
        background-color: $black-AH;
        justify-content: center;
        text-align: center;

        &_link {
            color: $grey-text;
        }

        &_icon {
            width: 33px;
            height: 33px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_text {
            font-size: 14px;
            color: $grey-text;
            width: 320px;
        }

        &_input {
            border-radius: 5px;
            background-color: $black-AH;
            width: 350px;
            padding: 0.375rem 0.75rem;
            color: $white;
            border: 1px solid $white;

            &:visited, &:active, &:focus, &:focus-visible, &:hover  {
                background-color: $white;
                color: #212529;
            }
        }

        .main-btn {
            width: 350px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
        }

        .logOut {
            justify-content: center;
        }
    }

    &--warning {
        margin: 0;
        font-size: 12px;
        color: #df5353;
    }
}

.footer--container {
    min-height: 400px;
    display: flex;
    align-items: end;

    .row {
        width: 100%;
    }
}

.footer--small-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $grey-text;
}

.footer--links {
    padding-left: 0;
    list-style: none;

    a {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        color: $grey-text;

        &:hover {
            color: $white;
            cursor: pointer;
        }
    }
}

.footer--input {
    background-color: #000000;
    border: none;
    border-bottom: 1px solid $white;
    font-size: 0.9rem;
    color: #a0a0a0;
    min-width: 400px;
    min-height: 40px;
}

.footer--newsletter {
    flex-direction: column;
}

.footer--copyright {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $grey-text;
    text-align: center;
}

.divider {
    height: 100px;
}

.notification {
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 0.5rem 2rem;
    margin: 0;
    border-radius: 5px;
    
    p {
        margin: 0;
    }

    &-success {
        background-color: #55bf3b;
        color: white;

    };

    &-warning {
        background-color: #df5353;
        color: white;

        p {
            margin: 0;
        }
    }

    &-info {
        background-color: $white;
        color: $black-AH;
        bottom: 60px;
    }
}

.loading {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    z-index: 99999;
}

// For tables and mobile screens
@media (max-width: 768px) {
    .header-mobile {
        overflow: hidden;
        position: relative;
    }

    .navigation--logo {
        position: absolute;
    }

    .navigation--menu {
        position: absolute;
        top: 54px;
        width: 100%;
        padding: 0 0 0 0;
        justify-content: center !important;
        display: block;
    }

    .navigation--ah-modal {
        padding-right: 16px;
    }

    .navigation--hamburger {
        display: block;
    }

    .roadmap-v {
        display: block;

        .row {
            justify-content: center;
        }
    }

    .roadmap-h {
        display: none;
    }

    .wallet--table {
        width: 550px;
    }
}

@media (max-width: 565px) {
    .waitlist--input {
        min-width: fit-content;
    }

    .footer--input {
        min-width: fit-content;
    }

    .footer--newsletter {
        margin-bottom: 4rem;
    }

    h1 {
        font-size: 2rem;
    }

    .roadmap-v > .row {
        justify-content: start;
    }

    .about--video_glow {
        top: 15%;
    }

    .about--video {
        position: relative;
    }

    .wallet--wrapper_account {
        display: block;
    }

    .wallet--table {
        width: 100%;
    }
}

@media (min-width: 565px) {
    .left-0 {
        left: 0;
    }
}

@media (max-width: 430px) {
    .presale, .wallet {
        padding: 1rem;
    }

    .presale--wrapper {
        padding-left: 8px;
    }
}

@media (max-width: 376px) {
    .roadmap-vertical-container {
        left: 11px;
    }

    .roadmap-vertical-line {
        width: 20px;
    }

    .presale--wrapper_text, .wallet--wrapper_text {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .about--video_glow {
        top: 26%;
    }
}

// animations
.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-2px, 0px) rotate(1deg); }
    30% { transform: translate(2px, 1px) rotate(0deg); }
    40% { transform: translate(0px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

// .fade-in {
//     animation: fade-in 1s;
//     animation-delay: 0.25s;
//     -webkit-animation: fade-in 1s;
//     -webkit-animation-delay: 0.25s;
// }

// .slide-in-right {
//     animation: slide-in-right 1s;
//     animation-delay: 0.25s;
//     -webkit-animation: slide-in-right 1s;
//     -webkit-animation-delay: 0.25s;
// }

// .slide-in-left {
//     animation: slide-in-left 1s;
//     animation-delay: 0.25s;
//     -webkit-animation: slide-in-left 1s;
//     -webkit-animation-delay: 0.25s;
// }

//
// @keyframes fade-in {
//     0% {
//         opacity: 0;
//         transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }

//     100% {
//         opacity: 1;
//         transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }
// }

// @-webkit-keyframes fade-in {
//     0% {
//         opacity: 0;
//         transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }

//     100% {
//         opacity: 1;
//         transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }
// }

// @keyframes slide-in-right {
//     0% {
//         opacity: 0;
//         transform: translate3d(15px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }

//     100% {
//         opacity: 1;
//         transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }
// }

// @-webkit-keyframes slide-in-right {
//     0% {
//         opacity: 0;
//         transform: translate3d(15px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }

//     100% {
//         opacity: 1;
//         transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }
// }

// @keyframes slide-in-left {
//     0% {
//         opacity: 0;
//         transform: translate3d(15px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }

//     100% {
//         opacity: 1;
//         transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }
// }

// @-webkit-keyframes slide-in-left {
//     0% {
//         opacity: 0;
//         transform: translate3d(15px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }

//     100% {
//         opacity: 1;
//         transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
//         transform-style: preserve-3d;
//         transition-delay: 1s;
//     }
// }
